@use '../custom' as *;

// Gradients
@mixin gradient {
    background: linear-gradient(
        to right,
        rgba($primary, 0.95),
        rgba($secondary, 0.95)
    );
}

// absolute center
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// transitions property
@mixin transitionProperty {
    transition: all 1s;
}
