@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
    }
    &--desc {
        display: block;
        font-size: 1rem;
        margin-top: 1.2rem;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}

.heading-line {
    &::before {
        content: '';
        width: 10rem;
        height: 0.1rem;
        display: block;
        background-color: $primary;
        margin: 0 auto;
    }
    &::after {
        content: '';
        width: 2rem;
        height: 0.2rem;
        padding-top: 0.5rem;
        display: block;
        background-color: $primary;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
