@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    .nav-link {
        &:link,
        &:visited {
            padding: 0 0.7rem;
            text-transform: uppercase;
            font-weight: 600;

            @include media-breakpoint-down(lg) {
                margin: 1rem 0;
            }
        }
    }
}
